<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express | Person</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
  </head>
  <body>
      <h1>Hello <%= ID %></h1>
      <h2>Querystring Value = <%= Qstr %></h2>
  </body>
</html>
